.main {
  /* display: block; */
  font-size: 14px;
  font-weight: 600;
}

.navbar {
  background-color: #000000;
  color: #f2f2f2;
  padding: 0;
  /* width: 30%; */
  /* position: fixed;
  top: 0;
  left: 0; */
  /* height: 100%; */
}

@media (max-width: 990px) {
  .navbar {
    width: 90%;
  }
}

.navbarHiden {
  transform: translate(-87%, 0);
  transition: width 2s, height 2s, transform 0.2s;
}

.navAppear {
  transition: width 2s, height 2s, transform 0.3s;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 0 20px 30px;
}

.form input,
.form select {
  border-radius: 9px;
  background-color: #212121;
  border: none;
  color: #f2f2f2;
  /* padding: 20px 5px; */
  cursor: pointer;
}

.textarea,
.selector {
  width: 100%;
  background-color: #212121;
  cursor: pointer;
  appearance: none;
  border-radius: 9px;
}

.input_container {
  position: relative;
  display: flex;
}

.input_container svg {
  position: absolute;
  top: 25px;
  left: 10px;
}

.redirect_calendar {
  text-decoration: none;
  border-radius: 9px;
  height: 63px;
  background-color: #212121;
  border: none;
  color: #f2f2f2;
  padding: 20px 30px 20px 10px;
  margin: 20px 0;
  cursor: pointer;
}

.button {
  display: flex;
  border-radius: 9px;
  height: 63px;
  background-color: #212121;
  border: none;
  color: #f2f2f2;
  padding: 20px 10px;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}

.selector span {
  display: none;
}

.menu_icon {
  position: relative;
}

.menu_icon svg {
  position: absolute;
  top: 5px;
  right: 5px;
}

.navbar_title {
  padding: 30px 20px;
}

.input_container {
  position: relative;
}

.input_container svg {
  position: absolute;
  top: 25px;
  left: 5px;
}

.form input {
  padding: 20px 10px 20px 25px;
}
