.main {
  display: flex;
  font-size: 14px;
  font-weight: 600;
}

.navbar {
  background-color: #000000;
  color: #f2f2f2;
  padding: 30px 20px;
}

@media (min-width: 768px) {
  .onHiddenBtn {
    display: none;
  }
}

.navbarHiden {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.form input,
.form select {
  border-radius: 9px;
  background-color: #212121;
  border: none;
  color: #f2f2f2;
  padding: 20px 5px;
  cursor: pointer;
}

.textarea,
.selector {
  width: 100%;
  background-color: #212121;
  cursor: pointer;
  appearance: none;
  border-radius: 9px;
}

.input_container {
  position: relative;
  display: flex;
}

.input_container svg {
  position: absolute;
  top: 25px;
  left: 10px;
}

.redirect_calendar {
  text-decoration: none;
  border-radius: 9px;
  height: 63px;
  background-color: #212121;
  border: none;
  color: #f2f2f2;
  padding: 20px 30px 20px 10px;
  margin: 20px 0;
  cursor: pointer;
}

.button {
  display: flex;
  border-radius: 9px;
  height: 63px;
  background-color: #212121;
  border: none;
  color: #f2f2f2;
  padding: 20px 10px;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}

.selector span {
  display: none;
}