.navbar {
  max-width: 30%;
  height: 1200px;
  background-color: #000000;
  color: #f2f2f2;
  padding: 30px 20px;
}

.navbar_title {
  display: flex;
  padding: 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.form input,
.form select {
  border-radius: 9px;
  height: 63px;
  background-color: #212121;
  border: none;
  color: #f2f2f2;
  padding: 20px 30px;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
}

.textarea,
.selector {
  width: 100%;
  background-color: #212121;
  cursor: pointer;
  appearance: none;
}

.input_container {
  position: relative;
  display: flex;
}

.input_container svg {
  position: absolute;
  top: 25px;
  left: 10px;
}

.redirect_calendar {
  text-decoration: none;
  border-radius: 9px;
  height: 63px;
  background-color: #212121;
  border: none;
  color: #f2f2f2;
  padding: 20px 30px 20px 10px;
  font-size: 19px;
  font-weight: 600;
  margin: 20px 0;
  cursor: pointer;
}

.button {
  display: flex;
  border-radius: 9px;
  height: 63px;
  background-color: #212121;
  border: none;
  color: #f2f2f2;
  padding: 20px 10px;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}

.selector span {
  display: none;
}
