.form {
  background-color: rgb(170, 248, 248);
  border: 2px solid rgb(126, 253, 253);
  color: blue;
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  height: 70px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textarea {
  min-width: 300px;
  border-radius: 10px;
  border: 1px solid gray;
  height: 50px;
}

.selector {
  min-width: 150px;
  border-radius: 10px;
  border: 1px solid gray;
  height: 50px;
}

.button {
  min-width: 150px;
  border-radius: 10px;
  border: none;
  height: 50px;
}
