@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
}